@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Nunito+Sans:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.navbarWrapper {
    height: 5.33vh;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    align-items: center;
    display: flex;
    width: 100%;
    /* height: 40px; */
    /* background-color: #fcf5de; */
    background-color: #2e8dc0;
    padding: 15px 0px;
}

.dropbtn {
    background-color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
}


.dropdown-content {
    display: absolute;
    position: none;
    background-color: #f1f1f1;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.navbarLeft {
    flex: 4;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;

}

.navbarLeft button {
    margin: 0;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

.menuItem {
    font-family: 'Crete Round', serif;
}


.searchArea {
    background-color: #fff;
    display: flex;
    align-items: center;
}

.searchArea input {
    height: 26px;
    border: none;
    outline: none;
}

.searchArea input :focus {
    border: none;
    outline: none;
}

.searchIcon {
    color: #35D0BA !important;
    font-size: 23px !important;
    margin-right: 8px;
    cursor: pointer;
}

.navbarCenter {
    flex: 4;
    width: 100%;
   justify-content: space-between;
    text-align: center;
    font-family: 'Crete Round', serif;
   
}

.navbarCenter h2 {
    margin:0;
    /* width: 100%; */
    padding: 0%;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 4px !important;
}

.navbarRight {
    width: 100%;
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.navRightComp {
    /* align-self: center; */
    margin: 0 15px 0 10px;
    color: #fff;
    cursor: pointer;
}

.cartIcon{
    color: #fff !;
}